*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --PRIMARY-COLOR: white;
  --SECONDARY-COLOR: hsl(204, 93%, 46%);
  --TEXT-COLOR: rgba(0, 0, 50, 0.87);
  --HEADER-COLOR: hsl(0, 0%, 0%);
}

header{
  padding: 0.5rem;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

header .img{
  display: block;
  margin: 0 auto;
}


.left_nav img{
  width: 55px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}


body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--TEXT-COLOR);
}


h1{
  letter-spacing: 3.5px;
  color: var(--HEADER-COLOR);
  text-align: center;
}
h2, h3, dt{
  color: var(--HEADER-COLOR);
  margin-bottom: 0.5rem;
}
h2:nth-child(1){
  margin-top: 1.5rem;
  margin-bottom: 0;
}

p, dd{
  color: rgba(0, 0, 50, 0.87);
}

a{
  transition: all 0.4s ease;
}


table, th, td, caption{
  text-align: center;
  padding: 0.5rem;
  border-collapse: collapse;
  border: 2.5px solid rgba(4, 0, 35, 0.974);
}
table{
  margin: 1rem auto;
}

abbr{
  cursor: help;
  text-decoration: underline;
}
abbr:hover{
  color: rgba(3, 5, 116, 0.336);
}

.indented{
  text-indent: 1.5em;
}
.note{
  text-indent: 1.5rem;
}
.note li{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  list-style-position: inside;
  list-style-image: url('/Images/list_book_icon2.png');
}


footer{
  padding-bottom: 1rem;
  border-top: 2px solid rgb(0, 0, 0);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: hsla(230, 67%, 87%, 0.237);
}
footer #cp_section{
  font-style: oblique;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0rem;
  text-align: center;
}

.figcaption{
  font-style: oblique;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.705);
  margin-left: 4rem;
}

.indented li{
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  list-style-position: inside;
  list-style-image: url('/Images/list_book_icon.png');
}

nav{
  height: 0;
}

footer #cp2_section{
  font-style: oblique;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0rem;
  text-align: center;
}


.left_nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.5rem;
  padding: 0.5rem;
  z-index: 1000;
}


.left_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.left_nav a:hover img {
  transform: scale(1.1);
}

.left_nav img {
  width: 55px;
  height: auto;
  transition: all 0.3s ease;
}

.left_nav .about_msg,
.left_nav .review_msg {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.705);
  margin-top: 0.2rem;
  text-align: center;
}

.left_nav a:last-child{
  transform: translateY(2rem);
}

.left_nav .about_msg{
  margin-right: 10px;
}

.right_nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.5rem;
  padding: 0.5rem;
  z-index: 1000;
}

.right_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.right_nav a:hover img {
  transform: scale(1.1);
}

.right_nav img {
  width: 55px;
  height: auto;
  transition: all 0.3s ease;
}

.right_nav .others_msg,
.right_nav .admin_msg {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.705);
  margin-top: 0.2rem;
  text-align: center;
}

.right_nav a:first-child{
  transform: translateY(2rem);
}


.slider-wrapper{
  position: relative;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

.slider{
  width: 400px;
  height: 400px;
  display: flex;
  aspect-ratio: 16 / 9;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
  gap: 3rem;
  margin-top: 2rem;
/*   border: 2px solid rgba(0, 0, 0, 0.596); */
}

.slider img{
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  border: 2px solid gray;
  border-radius: 10px;
}

.slider-nav{
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider p{
  white-space: nowrap;
  position: absolute;
  bottom: 100px;
  left: -20px;
  color: gray;
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: black;
  opacity: 0.5;
  transition: opacity ease 250ms;
}

.slider-nav a:hover{
  opacity: 1;
} 

footer p{
  text-align: center;
}