*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --PRIMARY-COLOR: white;
  --SECONDARY-COLOR: rgb(8, 140, 228);
  --TEXT-COLOR: rgba(0, 0, 50, 0.87);
  --HEADER-COLOR: black;
}

html{
  height: 100%;
}

header{
  padding: 0.5rem;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

header .img{
  display: block;
  margin: 0 auto;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
}

h1{
  letter-spacing: 3.5px;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
    transition: all .4s ease-in-out;
}
h1:hover{
  color: transparent;
  background: linear-gradient(to right, var(--SECONDARY-COLOR), var(--PRIMARY-COLOR), var(--SECONDARY-COLOR), var(--SECONDARY-COLOR));
  background-clip: text;
}


header a {
  text-decoration: none;
  color: inherit;
}

.left_nav img{
  width: 55px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}

.left_nav {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.5rem;
  padding: 0.5rem;
  z-index: 1000;
}


.left_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.left_nav a:hover img {
  transform: scale(1.1);
}

.left_nav img {
  width: 55px;
  height: auto;
  transition: all 0.3s ease;
}

.left_nav .about_msg,
.left_nav .review_msg {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.705);
  margin-top: 0.2rem;
  text-align: center;
}

.underline{
  width: 70px;
  height: 3px;
  background-color: var(--SECONDARY-COLOR);
  margin-top: 0.2rem;
  border-radius: 5px;
}

.left_nav a:last-child{
  transform: translateY(2rem);
}


.right_nav {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4.5rem;
  padding: 0.5rem;
  z-index: 1000;
}

.right_nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

.right_nav a:hover img {
  transform: scale(1.1);
}

.right_nav img {
  width: 55px;
  height: auto;
  transition: all 0.3s ease;
}

.right_nav .others_msg,
.right_nav .admin_msg {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.705);
  margin-top: 0.2rem;
  text-align: center;
}

.right_nav a:first-child{
  transform: translateY(2rem);
}

main{
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10rem;
  min-height: 70vh;
}

main img{
  max-width: 55px;
  max-height: 55px;
  padding-right: 1rem;
}
main p{
  color: rgb(104, 103, 103);
}

footer{
  margin-top: auto;
  padding: 10px;
  border-top: 2px solid rgb(0, 0, 0);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  text-align: center;
}
footer p{
  color: rgba(36, 36, 36, 0.773);
  font-weight: bold;
  text-decoration: underline;
}



.left_nav .about_msg{
  margin-right: 10px;
}



h1:hover{
  color: transparent;
  background: linear-gradient(to right, var(--SECONDARY-COLOR), var(--PRIMARY-COLOR), var(--SECONDARY-COLOR), var(--SECONDARY-COLOR));
  background-clip: text;
}
